@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/assets/fonts/fontawesome-free-5.15.2-web/css/all.css";

// .navbar-brand img {
//   width: 10vh;
// }
@font-face {
  font-family: "IranSANS";
  src: url(/src/assets/fonts/FontsFree-Net-ir_sans.ttf);
}
// @media all and(min-width:992px) {
//   .brand {
//     margin-left: auto !important;
//     direction: rtl;
//   }
// }
// @media all and(max-width:991px) {
//   .brand {
//     margin-right: auto !important;
//   }
// }

div {
  font-family: "IranSANS";
}

// .nav-link {
//   font-weight: 400;
// }

// #search-panel {
//   direction: rtl;
//   a {
//     color: #495057;
//     font-size: small;
//   }
//   div {
//     a {
//       font-size: small;
//     }
//   }
// }

// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//   color: #495057 !important;
//   background-color: #ffc107 !important;
//   border-color: #dee2e6 #dee2e6 #fff;
// }

// .connector {
//   width: 41px;
//   height: 36px;
//   border-radius: 50% !important;
//   position: absolute;
//   left: 50%;
//   bottom: 2%;
// }

